///* ========================================================================
//   #SlANT-BEAM
//   ======================================================================== */

// Mixin to add a slanted edge to an element
//
// .usage {
//   @include add-slant($white, 3deg, 200);
// }

@mixin add-slant($color, $rotation, $height) {
    position: relative;
    &:before {
        background-color: $color;
        @include vendor(transform, skewY($rotation));
        content: "";
        display: block;
        clear: both;
        position: absolute;
        left: 0;
        top: calc(100% - #{$height / 2 + px});
        height: $height + px;
        overflow: visible;
        width: 100%;
        z-index: 0;
    }
}
