///* ========================================================================
//   #BLACK GRADIENT
//   ======================================================================== */

// Creates a black to transparent gradient

@mixin gradient--top($height: 30px, $opacity: 0.8) {
    display: block;
    content: '';
    width: 100%;
    height: $height;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, $opacity) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, $opacity)), color-stop(100%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, $opacity) 0%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, $opacity) 0%, rgba(0, 0, 0, 0) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, $opacity) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, $opacity) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#00000000', GradientType=0);
}

@mixin gradient--bottom($height: 30px, $opacity: 0.8) {
    display: block;
    content: '';
    width: 100%;
    height: $height;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, $opacity) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, $opacity)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, $opacity) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, $opacity) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, $opacity) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, $opacity) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0);
}

///* ========================================================================
//   #BLACK GRADIENT
//   ======================================================================== */

///* ========================================================================
//   #BLACK GRADIENT
//   ======================================================================== */

// Creates a black to transparent gradient

@mixin scrimGradient($startColor: black, $direction: 'to bottom', $ease: 'ease-in-out', $offsetStart: 0, $offsetEnd: 100) {

    // ease out
    $scrimCoordinatesEaseOut: (0: 1,
        19: 0.738,
        34: 0.541,
        47: 0.382,
        56.5: 0.278,
        65: 0.194,
        73: 0.126,
        80.2: 0.075,
        86.1: 0.042,
        91: 0.021,
        95.2: 0.008,
        98.2: 0.002,
        100: 0);

    // ease in out
    $scrimCoordinatesEaseInOutSine: (0: 1,
        9.5: 0.978,
        17.7: 0.925,
        24.7: 0.857,
        31: 0.781,
        36.8: 0.701,
        42.3: 0.62,
        47.6: 0.538,
        52.9: 0.455,
        58.2: 0.373,
        63.7: 0.291,
        69.5: 0.212,
        75.8: 0.138,
        82.9: 0.07,
        91.2: 0.019,
        100: 0);

    $hue: hue($startColor);
    $saturation: saturation($startColor);
    $lightness: lightness($startColor);
    $stops: ();
    $scrimCoordinates: $scrimCoordinatesEaseOut;

    @if $ease =='ease-in-out-sine' {
        $scrimCoordinates: $scrimCoordinatesEaseInOutSine;
    }

    @each $colorStop,
    $alphaValue in $scrimCoordinates {
        $stop: hsla($hue, $saturation, $lightness, $alphaValue) percentage((($offsetEnd - $offsetStart) * $colorStop/100 + $offsetStart)/100);
        $stops: append($stops, $stop, comma);
    }

    background: linear-gradient($direction, $stops);

}