///* ========================================================================
//   #BACKGROUND COVER
//   ======================================================================== */

// Covers an image within the background, positions it in the centre
@mixin bgd-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
