/*  ==========================================================================
    #CARDS
    ========================================================================== */


    /**
    * Base styles for cards
    */

    .c-col-card {
        position: relative;
    }

    /**
    * Link styling
    */

    .c-col-card__link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 20;
    }

    .c-col-card--has-link {
        .c-col-card__content a {
            z-index: 30;
        }
    }

    /**
    * Normal card styles
    */

    .c-col-card--normal {
        figure {
            margin-bottom: 0;
            position: relative;

            // This is styling for a title that appears separate to the main content of the cards
            // e.g. if the title appears overlaying the image
            .c-col-card__title {
                position: absolute;
                color: white;
                bottom: 0;
                left: 0;
                width: 100%;
                margin: 0;
                padding: $spacer-m;
                z-index: 10;

                // Optional overlay
                &::after {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: -1;
                    @include gradient--bottom(160%, 0.8);
                }
            }
        }

        .c-col-card__content {
            padding: $spacer-s 0 0;
        }

        &.c-col--has-bg-color .c-col-card__content {
            padding: $spacer-s;
        }

        // Styling for specific column sizes

        .u-1\/4\@desktop &,
        .u-1\/3\@desktop &,
        .u-2\/3\@desktop &,
        .u-1\/5\@desktop &,
        .u-1\/6\@desktop & {
            @include mq($from: desktop) {
                .c-col-card__title {
                    padding: $spacer-s;
                }
            }
        }
    }

    // (Optional) Set normal cards to inline when used in large containers
    // This is to avoid the cards looking too large on screen

    .c-container:not(.c-container--800):not(.c-container--600) {
        .u-1\/1\@desktop .c-col-card--normal {
            @include mq($from: desktop) {
                position: relative;
                display: flex;
                -ms-flex-align: center;
                -webkit-align-items: center;
                -webkit-box-align: center;
                align-items: center;
                min-height: 30vw;



                @include mq($from: superwide) {
                    min-height: 450px;
                }

                .c-container--flush & {
                    min-height: 50vw;

                    @include mq($from: superwide) {
                        min-height: 700px;
                    }
                }

                .c-col-card__fig {
                    width: 50%;
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0;
                }

                .c-col-card__content {
                    width: 50%;
                    display: inline-block;
                    vertical-align: middle;
                    padding: $spacer-l;
                    margin-left: 50%;
                }

                figure {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    padding-bottom: 0;

                    img {
                        flex-shrink: 0;
                        min-width: 100%;
                        min-height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }


    /**
    * Overlay card styles
    */

    .c-col-card--overlay {
        position: relative;
        overflow: hidden;

        figure {
            margin-bottom: 0;
        }

        .c-col-card__content {
            position: relative;
            z-index: 10;
            width: 100%;
            color: $white;
            padding: 15px;
            position: absolute;
            bottom: 0;
            padding: $spacer-s;

            // Optional overlay
            &::after {
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: -1;
                @include gradient--bottom(80%, 1);
            }
        }

        // Styling for specific column sizes
        .u-1\/1\@desktop & {
            .c-col-card__content {
                @include mq($from: desktop) {
                    font-size: 110%;
                    padding: $spacer-l;
                }
            }
        }

        .u-1\/2\@desktop & {
            .c-col-card__content {
                @include mq($from: desktop) {
                    padding: $spacer-m;
                }
            }
        }
    }

    // Set the card to show through background colour for stylised images
    .c-col-card--overlay.c-col--has-bg-color {
        figure {
            opacity: 0.3;
        }

        &::after {
            display: none;
        }
    }

    /**
    * Inline card styles
    */

    .c-col-card--inline {
        position: relative;
        display: flex;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center;
        min-height: 80px;

        .c-col-card__fig {
            width: 33.33%;
            display: inline-block;
            vertical-align: middle;
            margin: 0;
        }

        .c-col-card__content {
            width: 66.66%;
            margin-left: 33.33%;
            display: inline-block;
            vertical-align: middle;
            padding: $spacer-s $spacer-m;

        }

        figure {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            padding-bottom: 0;

            img {
                flex-shrink: 0;
                min-width: 100%;
                min-height: 100%;
                object-fit: cover;
            }
        }

        // Styling for specific column sizes
         .u-1\/1\@desktop & {
            .c-col-card__content {
                @include mq($from: desktop) {
                    padding: $spacer-l;
                }
            }
        }
        .u-1\/4\@desktop &,
        .u-1\/3\@desktop &,
        .u-2\/3\@desktop & {
            @include mq($from: desktop) {
                font-size: 80%;
            }
        }

        .u-1\/5\@desktop &,
        .u-1\/6\@desktop & {
            @include mq($from: desktop) {
                font-size: 85%;
            }
        }
    }
